* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
#navBar {
    display: flex;
    height: 15%;    
    width: 100%;
    min-width: 50%;
    padding: 20px;
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#homeBTN {
    font-size: 7rem;
    padding: 1rem;
    font-family: 'Big Tales', sans-serif;
}


#homeBTN a {
    text-decoration: none;
    color: rgb(197, 197, 197);
}

#navLinks ul {
    list-style: none;
    font-family: 'Soleto Trial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
}
#navLinks li a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    padding: 1rem;
    display: block;
}

.navButtons {
    height: 100%;
}

.navButtons :hover{
    background-color: gray;
    border-radius: 10px;
    border-color: gray;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    transition: 1s;
}


/* Home Page */

#mainHome {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 70vh;
    width: 100vh;
}

#searchContainer{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    min-width: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 92, 186, 0.78);
    border-radius: 0 90% 0 90%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
#searchImageContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        rgba(45, 45, 42, 0.303),
        rgba(223, 223, 230, 0.5)
      ), url("./images/dog_image.jpeg");
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-size: cover;
    background-position: center, center;
    align-items: center;
    justify-content: center;    
}

#backgroundThing{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; 
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(79, 0, 158, 0.78);
    border-radius: 90% 0 90%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#trackerDiv{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#guildStatement{
    text-align: center;
    color: white;
    font-size: 4rem;
    margin: 0;
    height: 100px;
    width:  1100px ;
    font-family: 'OrangeBlossoms', sans-serif;
}

#searchBar {
    background-color:rgba(34, 32, 32, 0.62);
    min-width: 800px;
    max-width: 1200px;
    height: 100px;
    border: none;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#searchBTN :hover{
    cursor: pointer;
}
#searchTXT {
    background-color: transparent;
    flex: 1;
    padding-left: 30px;
    height: 90%;
    width: 80%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(197, 197, 197);
}

::placeholder {
    color:rgb(197, 197, 197);
}
#adSearch{
    background-color: rgba(34, 34, 34, 0.552);
    height: 100px;
    width: 400px;
    color: rgb(197, 197, 197);
    font-size: 25px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Post Page */

#postContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 60rem;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color:  rgba(139, 92, 186, 0.78);;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}

form{
    /* background: #f5f5f5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 59rem;
    height: 90%;
    border-radius: 50px;
    padding: 10px;

}

#inputTitle{
    color: #f5f5f5;
    /* font-family: 'OrangeBlossoms', sans-serif; */
    font-family: 'Big Tales', sans-serif;
    font-size: 5rem;
    height: 15%;
    margin: 0
}
.input{
    height: 10%;
    width: 90%;
    margin: 5px;
    padding-left: 30px;
    color: black;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}
::placeholder{
    color: rgb(119, 118, 118);
}
form :hover{
    transform: 1s;
    scale: 1.05;
}
.image.input{
    height: 10%;
}
input[type='file'] {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: pointer;
}
::-webkit-file-upload-button{
    color: rgb(119, 118, 118);
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}



.BTN {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    background-color: rgba(204, 198, 198, .2);
}
.Img {
    height: 50px;
    width: 50px; 
}

.formSubmitBtn{
    height: 10%;
    width: 20%;
    border-radius: 20px;
    font-size: 20px;
}

.formSubmitBtn :hover{
    transform: scale(.8);
    transition: 1s;
}

/* Show All Page */

#main {
    background-color: white;
    padding: none;
    height: 80vh;
    width: 100%;
    margin: 20px;
}

.divBackground{
    height: 38rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
    margin: 1rem;
}

#main :hover {
    box-shadow: 15px 15px 15px rgba(0.15, 0.15, 0.15, 0.15);
    transition: 1s;
    cursor: pointer;
}

.petImages{
    height: 32rem;
    width: 32rem;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
    cursor: pointer;
}

.textHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 10px;
    width: 100%;
}
.title {
    font-family: 'OrangeBlossoms', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:  rgb(139, 92, 186);
}




/* Single Showing Page */
#singePgmain{
    height: 70vh;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 2.5vh;
}


.deleteBTN {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.deleteBTN :hover{
    background-color: black;
    cursor: pointer;
}
.largePgEditDeleteImg {
    height: 50px;
    width: 50px; 
    position: relative;
    cursor: pointer;
}

.deleteBTN :hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.singePetImage{
    height: 80%;
    width: 100%;
    object-fit: contain;
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
}

.singlePgImage{
    background-color: black;
    height: 50%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.singePage{
    height: 150vh;
    width: 95vw;
}

.singleTextHolder{
    height: 50%;

}

.singeTitle{
    font-size: 4rem;
    color: rgba(139, 92, 186, 0.78);
    font-family: 'OrangeBlossoms', sans-serif;
    font-weight: bold;
}
.singleLocation{
    font-size: 2rem;
    color: rgb(119, 118, 118);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.singleDemographics{
    font-size: 1.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.singleAbout{
    font-size: 1.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.titlelocdemDiv {
    background-color: #f5f5f5;
    margin-top: 2.5vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
    text-align: center;
}

.aboutDiv{
    background-color: #f5f5f5;
    margin-top: .5vh;
    padding: 10px;
    height: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0.15, 0.15, 0.15, 0.15);
}

.aboutTitle{
    font-size: 2.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

#footer{
    width: 95vw;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 3.5rem;
    margin-top: 2rem;
}

#glub{
    width: 30vw;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-top: 3px solid black;
}