* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    display: flex;
    height: 20%;    
    width: 100%;
    padding: 20px;
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: white;
    border: none;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#homeBTN {
    font-size: 100px;
    margin: 10px;
    padding-left: 2%;
}


#homeBTN a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    padding: 10px;
}

#navLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
}
#navLinks li a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    padding: 10px;
    display: block;
}

.navButtons :hover{
    background-color: gray;
    height: auto;
    width: auto;
    border-radius: 10px;
    border-color: gray;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#trackerDiv{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#guildStatement{
    text-align: center;
    height: 100px;
    width:  400px ;

}
#backgroundContainer{
font-family: Arial, Helvetica, sans-serif;
max-width: 100%;
height: 100vh;   
display: block;
padding: 0;
margin: auto;
background-image: linear-gradient(rgba(0, 0, 0, 0.598), rgba(34, 32, 32, 0.62)), url('beer\ background.avif');
position: relative;
background-size: cover;
flex-direction: column;
/* overflow: hidden; */
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blue(10px);
}

#searchBar {
    background-color:rgba(34, 32, 32, 0.62);
    min-width: 500px;
    max-width: 800px;
    height: 100px;
    border: none;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.BTN {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    background-color: rgba(204, 198, 198, .2);
}
.Img {
    height: 50px;
    width: 50px; 
}
#searchBTN :hover{
    cursor: pointer;
}
#searchTXT {
    background-color: transparent;
    flex: 1;
    padding-left: 30px;
    height: 90%;
    width: 80%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(197, 197, 197);
}

::placeholder {
    color:rgb(197, 197, 197);
}
#adSearch{
    background-color: rgba(34, 34, 34, 0.552);
    height: 100px;
    width: 300px;
    color: rgb(197, 197, 197);
    font-size: 25px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchContainer{
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 92, 186, 0.78);
}

#searchImageContainer{
    width: 90%;
    height: 90%;
    display: flex;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(223, 223, 230, 0.5)
      ), url("./images/dog_image.jpeg");
      background-size: cover;
      background-position: center, center;
    align-items: center;
    justify-content: center;    
}

#submitBtn {
    height: 50px;
    width: 50px;
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
}

.input{
    margin: 10px;
    color: white;
    outline: none;
    padding: 20px;
    background-color: rgb(225, 225, 225);
}
::placeholder{
    color: black;
}

#main{
    background-color: #f5f5f5;
    padding: none;
    height: 1000px;
    width: 100%;
}